In [1]:
import pandas as pd

In [2]:
f1=pd.read_csv('merged.csv')
#pop=pd.read_csv('WorldPopulation.csv',encoding='latin-1',sep= '\t')

C:\Users\sbhatta7\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
f1.head(2)

,date,update,cases,new_cases,deaths,new_deaths,recovered,new_recovered,active_cases,country,last_update,new_cases_rolling7,new_cases_rolling30,new_deaths_rolling7,new_deaths_rolling30,population
0,1/22/2020,1,547,547,17,17,28,28,502,Mainland China,NaN,NaN,NaN,NaN,NaN,1439324000
1,1/22/2020,1,1,1,0,0,0,0,1,USA,NaN,NaN,NaN,NaN,NaN,331003000

In [4]:
f2=pd.read_csv('country_lat_long.csv')

In [5]:
f2.head(2)

  ISO 3166 Country Code      Country   Lat  Long
0                    AF  Afghanistan  33.0  65.0
1                    AL      Albania  41.0  20.0

In [6]:
set(f1.country) - set(f2.Country)

set()

In [7]:
f1.shape

(48891, 16)

In [13]:
df=pd.merge(f1,f2,left_on='country', right_on='Country').reset_index()

In [10]:
df.shape

(48891, 20)

In [14]:
df.head()

,index,date,update,cases,new_cases,deaths,new_deaths,recovered,new_recovered,active_cases,...,last_update,new_cases_rolling7,new_cases_rolling30,new_deaths_rolling7,new_deaths_rolling30,population,ISO 3166 Country Code,Country,Lat,Long
0,0,1/22/2020,1,547,547,17,17,28,28,502,...,NaN,NaN,NaN,NaN,NaN,1439324000,CN,Mainland China,35.0,105.0
1,1,1/23/2020,2,639,92,18,1,30,2,591,...,NaN,NaN,NaN,NaN,NaN,1439324000,CN,Mainland China,35.0,105.0
2,2,1/24/2020,3,916,277,26,8,36,6,854,...,NaN,NaN,NaN,NaN,NaN,1439324000,CN,Mainland China,35.0,105.0
3,3,1/25/2020,4,1399,483,42,16,39,3,1318,...,NaN,NaN,NaN,NaN,NaN,1439324000,CN,Mainland China,35.0,105.0
4,4,1/26/2020,5,2062,663,56,14,49,10,1957,...,NaN,NaN,NaN,NaN,NaN,1439324000,CN,Mainland China,35.0,105.0

In [12]:
df.isnull().sum()

date                         0
update                       0
cases                        0
new_cases                    0
deaths                       0
new_deaths                   0
recovered                    0
new_recovered                0
active_cases                 0
country                      0
last_update              48890
new_cases_rolling7        1146
new_cases_rolling30       5512
new_deaths_rolling7       1146
new_deaths_rolling30      5512
population                   0
ISO 3166 Country Code     1716
Country                      0
Lat                          0
Long                         0
dtype: int64

In [15]:
df.to_csv("merged_final.csv")

In [16]:
from cfuzzyset import cFuzzySet as FuzzySet

In [18]:
import cfuzzyset

In [19]:
cfuzzyset.__version__

(0, 0, 18)